/* #map {
    position: relative;
    line-height: 0;
} */

#map img {
    width: auto;
    height: auto;
    /* max-width: 100vw; */
    /* max-height: 80vh; */
    max-height: calc( 100vh - 100px );
}